body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

/* input::placeholder {
  color: #a0a3bd;  
} */

.preview-header {
  height: 82px;
  background: #203864;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.preview-main-content-wrapper {
  background-color: #f8faff;
  /* margin-top: -27px;0 */
  padding-top: 25px;
}
.preview-header-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle-left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #314c80;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: #bbc6da;
  /* margin-top: 30px; */
}

.circle-left-arrow:hover {
  background: #92b3f1;
  border: 1px solid #92b3f1;
}
.preview-header-content p {
  color: white;
  font-size: 18px;
  margin: 0;
}
.preview-header-content img {
  background: white;
  padding: 10px;
  border-radius: 50%;
}

.first-question {
  padding: 30px;
  border-radius: 17px;
  background: white;
  margin-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.main-div {
  margin-top: 10px;
}
.question-marking {
  background: #203864;
  border-radius: 42.31px;
  padding: 13px 25px;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-size: 15.232px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 150px;
}

.instruction {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}
.instruction p {
  margin: 0;
  color: #f5772d;
  font-size: 15.23px;
  font-weight: 500;
}

.instruction-text {
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 11.847px;
  font-weight: 500;
  margin-top: 7px;
}

.instruction-1 {
  color: #203864;
  font-family: "Gilroy", sans-serif;
  font-size: 20.31px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

.true-part {
  width: 100%;
  /* height: 55px; */
  background: #f9f9f9;
  border-radius: 8.46px;
  border: 0.85px #ffc300 solid;
  margin-top: 10px;
  cursor: pointer;
}

.true-part-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.true-part p {
  background: #fff5d3;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8.46px;
  text-align: center;
  color: #ffc300;
  padding: 10px 15px;
  margin: 5px 10px;
}

.false-part {
  background: #f9f9f9 !important;
  border: none;
}
.false-part p {
  background-color: #dcbafe;
  color: #66428a;
}
.second-p {
  color: #364e79;
  font-size: 18px;
  font-family: Gilroy;
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
}

.hello-our {
  background: #eff3fc;
  border: 1px #afc5ef solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.hello-name-space {
  width: 90px;
  background: white;
  height: 52px;
  /* padding: 20px !important; */
  border-radius: 10px;
  border: 1px solid #afc5ef;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: #a0a3bd;
  padding: 10px;
}
.student-chapter-btn {
  margin-top: 20px;
  gap: 10px;
  display: flex;
}
.student-chapter-btn button {
  height: 52px;
  background: white;
  border-radius: 10px;
  border: 1px #afc5ef solid;
  padding: 0 20px;
  color: #a0a3bd;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.hello-part p {
  color: #364e79;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
  margin: 0;
}

.audio-part {
  border-radius: 57.286px;
  background: #f8faff;
}

.main-s-div {
  margin-top: 100px;
}

.bottom-textarea-for-que-3 {
  width: 100%;
  height: 90px;
  padding: 20px;
  background: #eff3fc;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 35px;
  white-space: nowrap;
}

.custom-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-style {
  width: 54px;
  height: 52px;
  background: #203864;
  border-radius: 57.29px;
}
.audio-time {
  width: 20%;
  margin: 0px 72px;
}


